<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlxihFKmPpmdH1mgb2SNiQFElGUc4Q1Ts</string>
	<key>GCM_SENDER_ID</key>
	<string>617885300263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reglCycleApp</string>
	<key>PROJECT_ID</key>
	<string>regl-cycle-app</string>
	<key>STORAGE_BUCKET</key>
	<string>regl-cycle-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617885300263:ios:3e4d0126d85155b7be4002</string>
</dict>
</plist>